html {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10rem auto;
    gap: 4rem;
    justify-content: center;
}

.board-ui {
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    height: 21rem;
    width: 21rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    
}

.opponent-tile, .player-tile {
    flex: 1 0 10%;
    width: 100%;
    border: 1px black solid;
}

.opponent-tile {
    cursor: pointer;
}

.has-ship {
  background-color: rgb(59, 59, 59);
}

.hit {
    background-color: orangered;
}

.miss {
    background-color: dodgerblue;
}


.winner-block button {
    padding: 1rem 3rem 1rem 3rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;

}

/* =========================== STARTGAME UI =========================== */

.start-modal {
  width: 35rem;
  height: 39rem;
  margin: 8rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 59, 59, .3);
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tile {
  flex: 1 0 10%;
  width: 100%;
  border: 1px black solid;
  cursor: pointer;
  background-color: aliceblue;
}

.place-ship {
  background-color: rgb(59, 59, 59);
}

.boxes {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}



.controls {
  height: 30%;
  text-align: center;
  padding: 1rem;
}

.hover {
  background-color: rgb(59, 59, 59);
}

.start-game {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: .5rem;
  background-color: aliceblue;
}

.start-game:hover:enabled {
  background-color: rgba(59, 59, 59, 2);
  color: aliceblue;
}

.start-game:active:enabled {
  background-color: aliceblue;
  color: black;
}




/* =========================== STARTGAME UI =========================== */





/* =========================== TOGGLE =========================== */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
*:focus {
    outline: none;
  }




.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;
  right: 0;
}


.button.b2 {
  border-radius: 2px;

}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
  border-radius: .2rem;
}

/* Button 16 */
#button-16 .knobs:before {
  content: "V";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: rgb(59, 59, 59);
  border-radius: 2px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);

}

#button-16 .checkbox:active + .knobs:before {
  width: 46px;
}

#button-16 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-16 .checkbox:checked + .knobs:before {
  content: "H";
  left: 42px;
  background-color: rgb(59, 59, 59);
}

#button-16 .checkbox:checked ~ .layer {
  background-color: white;
  border-radius: .2rem;
}


/* =========================== TOGGLE =========================== */